@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 500px) {
  .w-80, .h-64 {
    width: 95vw !important;
    height: 60vw !important;
    min-width: 0;
    min-height: 0;
  }
  .w-40, .h-60 {
    width: 40vw !important;
    height: 30vw !important;
    min-width: 0;
    min-height: 0;
  }
}

:focus {
  outline: 2px solid #6366f1;
  outline-offset: 2px;
}
